<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="assets/img/amlsf.png">
            {% block stylesheets %}
            <link rel="stylesheet" href="assets/styles/main.css">
            <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
            {% endblock %}

            {% block javascripts %}
            {% endblock %}
        </head>
        <body class="container-fluid w-50 text-center m-auto">
            {% block body %}{% endblock %}
        </body>
    </html>
